:root {
    /* Color palette 1 (beige and khaki colors) */
    --background-1 : #f2eee9;
    --color-primary-1 : #7f9171;
    --color-secondary-1 : #C1AC95;

    /* Color palette 2 (brown and ??? colors) */

    /* Color palette 3 (gray and white colors) */
}