body {
    background-color: var(--background-1);
    overflow: hidden;
}

.container {
    margin: 50px 75px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture {
    width: 1400px;
    height: 610px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1600px) {
    .container {
        margin: 50px 75px;
    }

    .picture {
        width: 1400px;
        height: 610px;
    }
}