body {
    background-color: var(--background-1);
    overflow: hidden;
}

.container {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    width: 45%;
    color: var(--color-primary-1);
    text-transform: uppercase;
    font-weight: 600;
}

.first {
    color: var(--color-secondary-1);
}

.pictures {
    width: 55%;
}

.picture1,
.picture2 {
    position: absolute;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}

.picture1 {
    z-index: 3;
}

.picture2 {
    z-index: 2;
}

/* Desktop screen */

@media screen and (min-width: 1601px) {
    .container {
        height: 920px;
    }

    .text {
        font-size: 200px;
        line-height: 170px;
        padding-left: 70px;
    }

    .picture1,
    .picture2 {
        height: 450px;
        width: 700px;
    }

    .picture1 {
        top: 415px;
        left: 925px;
    }
    
    .picture2 {
        top: 135px;
        left: 1100px;
    }
}

/* Laptop screen */

@media screen and (max-width: 1600px) {
    .container {
        height: 675px;
    }

    .text {
        font-size: 130px;
        line-height: 120px;
        padding-left: 80px;
    }

    .picture1,
    .picture2 {
        height: 340px;
        width: 540px;
    }

    .picture1 {
        top: 300px;
        left: 725px;
    }

    .picture2 {
        top: 80px;
        left: 885px;
    }
}